name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  issues: read
  id-token: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Create dummy .env file
        # Required for prebuild/generate-env.ts script
        run: |
          echo "ACCOUNTING_BASE_URL=https://dummy.api" >> .env
          echo "AUTH_BASE_URL=https://dummy.auth" >> .env

      - name: Build
        run: bun run build

      - name: Create Release Pull Request or Publish
        uses: changesets/action@v1
        with:
          version: bun run version-packages
          publish: ${{ secrets.NPM_TOKEN && 'bun run release' || '' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
